django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.0
razorpay==1.4.1



pip install gunicorn
pip freeze > requirements.txt
git add requirements.txt
git commit -m "Add gunicorn"
git push